// В этом файле должны быть стили для БЭМ-блока call-btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.call-btn {

  $block-name:                &; // #{$block-name}__element

  .btn--outline {
    border-color: #f6adc7;
    color: #f6adc7;
    &:hover,
    &:focus {
      border-color: #fff;
      color: #fff;
      background: transparent;
    }
  }

}
