// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background: $color-main;
  padding: 15px 0;

  &__inner {
    @include container;
  }

  &__content {
    @include row;
  }

  &__logo {
    @include col();
    @include col(lg, 3);
    @include col(md, 12);
    position: relative;
    .main-nav__toggler {
      position: absolute;
      right: 15px;
      top: 0;
    }
  }
  &__block {
    @include col();
    @include col(lg, 9);
    @include col(md, 12);
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    @media (max-width: ($screen-lg - 1)) {
      justify-content: space-between;
      flex-wrap: wrap;
      .contacts-info {
        margin-right: 0;
      }
      .social-link {
        margin-right: 0;
      }
    }
    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
    .contacts-info {
      margin-right: 4em;
    }
    .social-link {
      margin-right: 3em;
    }
  }

}
