// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background: $color-main;
  padding: 15px 0;

  &__inner {
    @include container;
  }

  &__content {
    @include row;
  }

  &__logo {
    @include col();
    @include col(md, 3);
  }
  &__block {
    @include col();
    @include col(md, 9);
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    .contacts-info {
      margin-right: 4em;
    }
    .social-link {
      margin-right: 3em;
    }
  }

}
