// В этом файле должны быть стили для БЭМ-блока gallery-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.gallery-carousel {

  $block-name:                &; // #{$block-name}__element

  .owl-nav {
    margin-top: 0;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 60px;
    padding: 0.9em;
    background: #fff;
    svg {
      stroke: $color-main;
    }
    &:hover,
    &:focus {
      background: $color-main;
      svg {
        stroke: #fff;
      }
    }
  }
  .owl-prev {
    left: 20px;
  }

  .owl-next {
    right: 20px;
  }

  .owl-dots {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    margin-bottom: 40px;
    .owl-dot {
      opacity: 0.6;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #000;
        display: inline-block;
      }
      &.active {
        opacity: 1;
      }
    }
  }

}
