// В этом файле должны быть стили для БЭМ-блока form-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-section {

  $block-name:                &; // #{$block-name}__element
  padding: 3em 0;
  background: #f2f2f2;

  &__inner {
    @include container;
    padding: 0 98px;
  }

  .form-container {
    padding: 3em 4.5em 1.5em 4.5em;
  }

  &__header {
    padding-bottom: 1em;
    text-align: center;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__title-caption {
    color: #6c6c6c;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

}
