// В этом файле должны быть стили для БЭМ-блока page-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-section {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 4em;

  &__inner {
    @include container;
  }

  &__header {
    padding-bottom: 1em;
  }

  &__title {
    font-weight: 400;
    margin-top: 1em;
  }

}
