// В этом файле должны быть стили для БЭМ-блока feedback-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback-section {

  $block-name:                &; // #{$block-name}__element

  padding: 3.5em 0 3em;
  background-size: cover;
  background-position: center center;
  flex-shrink: 0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &__inner {
    @include container;
    position: relative;
    z-index: 2;
  }

  &__header {
    padding-bottom: 1em;
    text-align: center;
    color: #fff;
  }

  &__title {
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
  }

  &__title-caption {
    color: #6c6c6c;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &__info {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 14px;
    a {
      color: rgba(255, 255, 255, 0.5);
      &:hover,
      &:focus {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

}
