// В этом файле должны быть стили для БЭМ-блока social-link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social-link {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  margin: 0 1em;

  &__item {
    flex-shrink: 0;
    margin: 0 0.4em;
    a {
      display: block;
    }
  }

}
